# Node modules (if using JS frameworks)
node_modules/

# Python cache & virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
ENV/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build / dist folders
dist/
build/

# IDE settings
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
